.container {
	width: 100%;
	height: 100%;

	color: #fff;

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: relative;
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

.jobStatus {
	position: absolute;
	top: 0;
	right: 0;

	padding: 5px;
	border: 2px solid $green_border;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $green_bg;
	color: $green_text;

	.dot {
		width: 10px;
		height: 10px;
		background-color: $green_border;
		border-radius: 100px;
		margin-right: 5px;

		animation: blink 1s infinite;
		box-shadow: 0 0 8px $green_dot;
	}
}

.modelContainer {
	width: 200px;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.textSection {
	h2 {
		font-size: 18px;
		margin-bottom: 10px;
	}

	p {
		line-height: 18px
	}
}