@import "./normalize.scss";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	background-color: white;
	color: $black;
}

[data-theme="dark"] {
	background-color: $black;
	color: white;
}