// dark palette
$dark_background: #1B2430;
$dark_border: #51557E;
$dark_text: #fff;
$dark_header: #816797;
$dark_additional: #D6D5A8;

//light palette 
$light_background: #f1faee;
$light_border: #a8dadc;
$light_text: #1d3557;
$light_header: #457b9d;
$light_add: #e63946;

//job status
$green_bg: #b2ff9e;
$green_border: #1dd3b0;
$green_dot: #affc41;
$green_text: #086375;