.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.skillPic {
	width: 150px;
	height: 150px;
	background-size: cover;
}

.singleSlide {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	position: absolute;
	top: 0;
	left: 0;

	font-size: 18px;
	font-weight: 600;
	color: $light_header;
}